#nav-bar 
{
	position: sticky;
	top: 0;
	z-index: 10;
    background-color: #24303c;
}

#nav-bar ul li a:hover 
{
	color: #dd11c2!important;
}

.nav-link
{
	color: #ffffff!important;
	font-weight: 600;
	font-size:  16px;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}