<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <br>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card">
              <img id="juegos" src="https://http2.mlstatic.com/D_NQ_NP_668742-MCO70622627904_072023-O.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://http2.mlstatic.com/D_NQ_NP_652218-MLU73130073298_122023-O.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://m.media-amazon.com/images/I/811AhOv5zqL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://http2.mlstatic.com/D_NQ_NP_746356-MCO51809339362_102022-O.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card">
              <img id="juegos" src="https://dprimero.com/cdn/shop/products/c1w1ezxzt24jlbigewvr_a7b37806-395b-4969-86e3-de9b68256123_600x.jpg?v=1699969403" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://http2.mlstatic.com/D_NQ_NP_971926-MLA54717652867_032023-O.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://gamestorecolombia.com/files/images/productos/1637876703-super-smash-bros-ultimate.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://http2.mlstatic.com/D_NQ_NP_683180-MLA54131300452_032023-O.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card">
              <img id="juegos" src="https://http2.mlstatic.com/D_NQ_NP_868010-MLU71082089941_082023-O.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://www.juegosdigitalescolombia.com/files/images/productos/1651942843-grand-theft-auto-v-gta-v-xbox-series-xs-0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://http2.mlstatic.com/D_NQ_NP_824520-MLA45743512958_042021-O.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://falabella.scene7.com/is/image/FalabellaCO/gsc_124821864_4121292_1?wid=800&hei=800&qlt=70" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
    </div>
      

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>