body{
    background-image: url('https://www.infobae.com/new-resizer/Ql2bDGZ-TZGBBrAFFL_kOo1qwXk=/arc-anglerfish-arc2-prod-infobae/public/25FCOYGKIJF4ZLVWEOSZOCZ5MY.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#juegos{
    width: 389px;
    height: 500px;
    
}
.card{
    text-align: center;
}