<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <br>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card">
              <img id="juegos" src="https://store-images.s-microsoft.com/image/apps.2805.65125427675965946.9a11f22d-d015-4e5d-8fe2-d22c387be19c.55436672-743e-4c6f-b104-ddca23969d53?q=90&w=177&h=265" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">dante's inferno</h5>
                <button type="button" class="btn btn-outline-primary">59.900$</button>
              </div>
            </div>
          </div>
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://acdn.mitiendanube.com/stores/002/596/264/products/ps4ps5-copy301-a670c50cc5861c00c316826627833603-1024-1024.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">God of War: Ragnarök</h5>
              <button type="button" class="btn btn-outline-primary">259.900$</button>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://acdn.mitiendanube.com/stores/002/596/264/products/ps4ps5-copy191-40956a744720dd3bc116824433126025-1024-1024.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">God of War</h5>
             <button type="button" class="btn btn-outline-primary">90.000$</button>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://acdn.mitiendanube.com/stores/002/596/264/products/ps4ps5-copy141-7c7479c9bd8d0be69716833871964638-640-0.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gran Turismo 7</h5>
              <button type="button" class="btn btn-outline-primary">300.000$</button>
            </div>
          </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card">
              <img id="juegos" src="https://juegosdigitalescolombia.com/files/images/productos/1675969318-hogwarts-legacy-digital-deluxe-edition-pre-orden-ps5-0.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hogwarts Legacy</h5>
               <button type="button" class="btn btn-outline-primary">255.000$</button>
              </div>
            </div>
          </div>
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://http2.mlstatic.com/D_NQ_NP_971926-MLA54717652867_032023-O.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hogwarts Legacy</h5>
              <button type="button" class="btn btn-outline-primary">180.000$</button>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://gamestorecolombia.com/files/images/productos/1637876703-super-smash-bros-ultimate.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Super Smash Bros. Ultimate</h5>
              <button type="button" class="btn btn-outline-primary">216.000$</button>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://gamestorecolombia.com/files/images/productos/1658512355-grand-theft-auto-v-nueva-generacion-ps5-0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Grand Theft Auto V</h5>
              <button type="button" class="btn btn-outline-primary">160.000$</button>
            </div>
          </div>
        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card">
              <img id="juegos" src="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/977949d5f15fce820e9a4d4a96caa9da2151dbea45868fd9.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mortal Kombat 1</h5>
                <button type="button" class="btn btn-outline-primary">250.000$</button>
              </div>
            </div>
          </div>
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://www.juegosdigitalescolombia.com/files/images/productos/1651942843-grand-theft-auto-v-gta-v-xbox-series-xs-0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Grand Theft Auto V</h5>
              <button type="button" class="btn btn-outline-primary">80.000$</button>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLr36qP8fShpdOFrDxSFVVLDSyzT9esvD17UNHPRMJ0g&s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Call of Duty: Black Ops Cold War</h5>
              <button type="button" class="btn btn-outline-primary">389.900$</button>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="card">
            <img id="juegos" src="https://juegosdigitalescolombia.com/files/images/productos/1695950731-ea-sports-fc-24-ps5-pre-orden-0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">EA Sports FC 24</h5>
              <button type="button" class="btn btn-outline-primary">220.000$</button>
            </div>
          </div>
        </div>
    </div>
      

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>